<nav class="nav-menu">
    <NavLink class="nav-menu__link" href="/" Match="NavLinkMatch.All">
        <span class="nav-menu__order">1.</span>
        <span>Danh mục đơn vị tính</span>
    </NavLink>

    <NavLink class="nav-menu__link" href="/danh-muc/loai-san-pham">
        <span class="nav-menu__order">2.</span>
        <span>Danh mục loại sản phẩm</span>
    </NavLink>
</nav>
