<nav class="nav-menu">
    <NavLink class="nav-menu__link" href="/" Match="NavLinkMatch.All">
        <span class="nav-menu__order">1.</span>
        <span>Danh mục đơn vị tính</span>
    </NavLink>

    <NavLink class="nav-menu__link" href="/danh-muc/loai-san-pham">
        <span class="nav-menu__order">2.</span>
        <span>Danh mục loại sản phẩm</span>
    </NavLink>

    <NavLink class="nav-menu__link" href="/danh-muc/san-pham">
        <span class="nav-menu__order">3.</span>
        <span>Danh mục sản phẩm</span>
    </NavLink>

    <NavLink class="nav-menu__link" href="/danh-muc/nha-cung-cap">
        <span class="nav-menu__order">4.</span>
        <span>Danh mục nhà cung cấp</span>
    </NavLink>

    <NavLink class="nav-menu__link" href="/danh-muc/kho">
        <span class="nav-menu__order">5.</span>
        <span>Danh mục kho</span>
    </NavLink>

    <NavLink class="nav-menu__link" href="/phan-quyen/kho-user">
        <span class="nav-menu__order">6.</span>
        <span>Phân quyền kho-user</span>
    </NavLink>

    <NavLink class="nav-menu__link" href="/nhap-kho">
        <span class="nav-menu__order">7.</span>
        <span>Quản lý phiếu nhập</span>
    </NavLink>
</nav>
